@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: 'Poppins', sans-serif;
}

.offline {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
    overflow-x: hidden;
}


.heart {
  position: absolute;
  font-size: 18px;
  animation: float 1.5s ease forwards;
}

@keyframes float {
  to {
    transform: translateY(-150px) scale(0.5);
    opacity: 0;
  }
}
